{% extends "base.html"%}
{% block content %}
<style>

  #stack img {
    padding-left: 2%;
  }
</style>
<div class="container col-sm-5" id="about">
  <p class="about"> Hi, I am a Computer Science student with an interest in front-end
    web development and software solutions. I am always eager to learn and
    discover new technologies to bring your ideas to life.
  </p>
</div>
<span id="stack" class="row justify-content-center">

  <img src="https://img.icons8.com/wired/64/000000/java-coffee-cup-logo.png"/>
  <img src="https://img.icons8.com/wired/64/000000/javascript.png"/>
  <img src="https://img.icons8.com/wired/64/000000/python.png"/>
  <img src="https://img.icons8.com/ios/50/000000/flutter.png"/>
  <img src="https://img.icons8.com/wired/64/000000/linux.png"/>
  <img src="https://img.icons8.com/wired/64/000000/html-5.png"/>

  </span>


<div class="contact" id="contact">
  <h2 class="text">Contact me</h2>
  <p class="text" id="text-sub">For colabarations, business ventures or work opportunities</p>
  <section class="row justify-content-center">
    <form class= "form-container" action="https://rcedras.herokuapp.com/sent" method="POST">
      <div class="sm-3" id="form">
        <label for="email"><p class="text">Email</p></label>
        <input class= "input" type="text" name="sender">
        <label for="msg"><p class="text"  >Message</p></label>
        <textarea class ="input" type="text" name="mail" rows="3"></textarea>
        <br>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </section>

</div>

{% endblock %}
