{% extends "base.html"%}
{% block content %}
  <div class="container">

    <style media="screen">
      #card {
        transition: transform .2s;
        position:relative;
        color : red;
      }

      #card:hover {
        transform: scale(1.2);
        position:relative;
      }

      #ind_cards {
        position: relative;
        height: 60%;
        width: 80%;
        margin-top: 3em;
        margin-bottom: 0.5em;
      }

      #head {
        color: black;
        background-color: rgba(211,211,211,0.0);
        font-family: 'Space Mono', monospace;
      }

    </style>


      <div class="card container bg-light" id="ind_cards">
        <h5 class="card-header" id="head" >New York Times API</h5>
          <img id="card" class="card-img" src="{{ url_for('static', filename='/images/movie.jpg') }}" >
          <div class="card-body">
            <p class="card-text">
              The NYT project taught me how to use web API's
              and steal content from websites with BS4. For this project I also had to learn how to work
              with data in JSON.
            </p>
            <p class="card-text">
              Programming language: Python 3
            </p>
            <a href="https://github.com/ronaldo0010/rw334-projects" class="btn btn-dark">See code</a>
          </div>
      </div>

      <div class="card container bg-light" id="ind_cards">
        <h5 class="card-header" id="head">TheShed Mobile App</h5>
          <img id="card" class="card-img" src="{{ url_for('static', filename='/images/theShed.jpg') }}" >
          <div class="card-body">
            <p class="card-text">
              The shed is a (spatio-temporal) social networking app that allows users with similar 
              interest easily connect with each other. In this project I learnt how to use Flutter 
              for android app development. It enriched my understanding of front-end development 
              and UI/UX design as a whole. This project gave me the chance to cement http requests
              and handling JSON data.  
            </p>
            <p class="card-text">
              Programming language: Dart
            </p>
            <a href="https://github.com/ronaldo0010/TheShed" class="btn btn-dark">See code</a>
          </div>
      </div>

      <div class="card container bg-light" id="ind_cards">
        <h5 class="card-header" id="head">Flask E-mail</h5>
          <img id="card" class="card-img" src="{{ url_for('static', filename='/images/flask.png') }}" >
          <div class="card-body">
            <p class="card-text">
              This "contact me" forum allows potential clients and/or collaborator to send me an email from 
              my official website. This was done with Flask email. 
            </p>
            <p class="card-text">
              Programming language: Python 3
            </p>
            <a href="https://github.com/ronaldo0010/personalwebsite" class="btn btn-dark">See code</a>
          </div>
      </div>


  </div>
{% endblock %}
